@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
:root{
    --pcolor:#4F46E5;
    --gray:#E5E7EB
    
    
}
body{
    font-family: 'EB Garamond', serif;
    margin: 0px;
}
.container{
    padding-left:1rem;
    padding-right:1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.links{
    text-decoration: none;
    color: white;
    

}
.primary-link{
    
    background-color:blue;
    border-radius: 0.3rem;
    color: white;
    font-weight: bold
}
.secondary-link{
    color: blue;
    border-radius: 0.5rem;
    border: 1px solid blue;
    font-weight: bold
}
.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
    color: white;

}
.bullets{
    list-style: none;
    text-decoration: none;
}
.navigation{
    background-color: var(--pcolor);
    padding: 1rem;
    border-bottom-left-radius:1rem ;
}
.navigation .links{
    color: white;
}
.navigation .active{
    font-weight: bold;
} 
.hero{
    padding: 2rem;
}
.hero-image{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero-heading{
    padding-top: 1rem;
    
}
.subs1{
    text-align: center;
    padding: 1rem 0rem;
    background-color: white;
}
.subs2{
    text-align: center;
    background-color: var(--gray);
    padding: 1rem 0rem;
}
.subs1 h3{
    text-align: center;
}
.footer{
    background-color:var(--pcolor);
    padding: 1rem 0rem;
    text-align: center;
    color: white;
}
.navigation .noc{
    font-weight: bold

}
.footer .active{
    font-weight: bold;
} 